.footer{
    width: 100%;
    height: 130px;
    color: white;
    background: #05445E;
    display: flex;
}


.footer .left{
    width: 33.34%;
}

.footer .left img{
    width: 25%;
    height: 60%;
    margin-top: 5%;
}

.footer .middle{
    width: 33.34%;
    margin-left: 5%;
}

.footer .middle .address{
    margin-top: 8px;
    display: flex;
}

.footer .middle .address p{
    font-size: 10px;
    margin-left: 3%;
}

.footer .middle .address img{

    margin-top: 10px;
    width: 4%;
    height: 4%;
}


.footer .right {
    width: 33.34%;
    display: flex;
    text-align: left;
    
}
/* 
.footer .right .p{
    margin-top: 100px;
} */


.footer p{
    font-size: 10px;
    margin-top: 10px;
}

.footer .Right .social img{
    padding: 5px;
    width: 10%;
    height: 10%;
    margin-bottom: 5%;
}

.footer .tagline{
    font-size: 10px;
    margin-top: 17px;
}

