*{
    font-family: Arial, Helvetica, sans-serif;
}



.header{
    position: fixed;
    height: 50px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
}

.empty{
    width: 1000px;
}


.logo{
    font-size: 40px;
    color: aqua;
    width: 75%;
  }
  
   .logo .img {
    size: 0.05%;
    margin-left: 20px;
  }

  .profile .img {
    width: 1000px;
    height: 500px;
  }

.name{
    width: 10%;
    margin-bottom: 20px;
}

.profile{
    width: 5%;
   
}

/* .header .left{
    width: 18.85%;
    align-items: center;
    
}

.header .left img{
    width: 22%;
    float: left;
    margin-left: 20px;
}

.header .right{
    width: 81.15%;
    background-color: aquamarine;
} */