.slider img {
    width: 100%;

}

.container img {
    margin-bottom: -22.5%;
    margin-left: calc(-50%);
    border-radius: 50%;
    height: 15%;
    width: 15%;
    object-fit: cover;

}

.quote-box {
    width: 20%;
    height: 40%;
    background-color: none;
    padding: 50px;

    margin-left: 5%;
    border-radius: 10px;

}

.quote-box .quote p {
    font-size: 25px;
    text-align: right;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #05445E;
}

.grid {
    display: flex;
    margin-left: 20%;
}

.grid .box {
    width: 309px;
    height: 321px;
    flex-shrink: 0;
    background-color: #D4F1F4;
    border: #75E6Da solid 2px;
    border-radius: 5px;

}

.grid .box :hover {}

.grid .box img {
    margin-top: 10%;
}

.grid .box h4 {
    font-size: 25px;
}

.grid .box p {
    font-size: 20px;
}

.Aboutus {
    align-items: center;
    justify-content: center;
    display: flex;

}

.About h2 {
    color: #189AB4;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5%;

}

.Aboutus .text {
    float: left;
    margin-left: 10%;
    font-size: 20px;
}

.Aboutus .image {
    max-width: 25%;
    max-height: 15%;
    float: right;
    margin-right: 10%;
}