html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background:  #F9FFFE;
    font-family: Arial, sans-serif;
  }

  .home {
    position: relative;
  }

.quote-box {
    width: 30%;
    height: 70%;
    background-color: none;
    padding-bottom: 80px;
    padding-top: 40px;
    margin-bottom: 8px;
    margin-top: 50px;
}

.quote-box .quote p {
    font-size: 25px;
    text-align: justify;
    font-weight: 500;
}

.main-topic {
    color: #189AB4;
    text-shadow: -0.5px -0.5px 0 #05445E, 0.5px -0.5px 0 #05445E, -0.5px 0.5px 0 #05445E, 0.5px 0.5px 0 #05445E;
    font-size: 70px;
    /* font-style: italic; */
    font-weight: bolder;
    border: none;
}

.grid-box {
    display: flex;
    margin-top: 80px;
}

.grid-box .s_box {
    width: 250px;
    height: 320px;
    flex-shrink: 0;
    background-color: white;
    color: #05445E;
    border-radius: 18px;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 14px 18px rgba(0, 0, 0, 0.1);
}


.grid-box .s_box img {
    margin-top: 15%;
    margin-left: 100px;
    margin-bottom: 5px;
}

.grid-box .s_box h4 {
    font-size: 25px;
}

.grid-box .s_box p {
    font-size: 13px;
}

.grid-box .s_box .topic {
    font-size: 24px;
    color: #189AB4;
}


.Aboutus_txt {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 40px;
    margin-right: 10px;

}

.About h2 {
    color: #05445E;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 8%;
}



.sub-topic {
    color: black;
    font-size: 15px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.Aboutus_txt .text {
    float: left;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 5%;
    font-size: 15px;
    color: #05445E;
    width: 50%;
}

.Aboutus_txt .image_about{
    max-width: 100%;
    max-height: 100%;
    float: right;
    margin-right: 15%;
    margin-bottom: 6%;
}

.card01 {
    margin-left: 20%;
}

.card02 {
    margin-left: 10%;
}

.card03 {
    margin-left: 10%;
}

.countup {
    position: relative;
    display: flex;
    margin-bottom: 100px;
}

.countup h4 {
    font-size: 30px;
    color: #05445E;
    filter: brightness(180%);
}


.contact {
    display: flex;
    flex-direction: row;
    padding-left: 500px;
    padding-bottom: 100px;
}


.contactus{


    
}

.linklocation {
    display: flex;
    flex-direction: row;
}

.linklocation img {
    width: 10%;
    height: 75%;
}

.linkphone {
    display: flex;
    flex-direction: row;
}


.linkphone img {
    width: 15%;
    height: 55%;
}

.linkmail img {
    width: 13%;
    height: 58%;

}

.linkmail {
    display: flex;
    flex-direction: row;
}

.linkphone {
    padding-right: 120px;
    padding-left: 120px;
}

.phone_no {
    display: flex;
    flex-direction: column;
}

.contact h6 {
    color: #05445E;
    padding-left: 10px;
}

.topic {
    margin-right: 20px;
}

.logo {
    width: 60px;
    /* Adjust the width as needed */
    height: 60px;
    /* Adjust the height as needed */
    margin-left: 15px;
    /* Adjust the margin as needed */
    margin-top: 20px;
}


.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
}

.left {
    display: flex;
    flex-direction: row;
}

.links a {
    text-decoration: none;
    font-size: 15px;
    color: #05445E;
    transition: color 0.3s;
    margin-left: 25px;
    margin-top: 40px;
}

.links a:hover {
    color: #189AB4;
}

.fixed-link {
    position: fixed;
    top: 0;
    right: 10px;
    /* Adjust the spacing as needed */
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-right: 30px;
}

.login-btn {
    text-decoration: none;
    padding: 8px 15px;
    /* background-color: white; */
    color: #05445E;
    border-color: #05445E;
    font-size: small;
    font-weight: 600;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.login-btn:hover {
    color: #189AB4;
    border-color: #189AB4;
}

.active {
    font-weight: bolder;
}

.msg-btn {
    width: 25px;
}

/* Add media query for mobile screens */
@media screen and (max-width: 768px) {
    .home {
      background-size: cover;
      height: auto;
    }
  
    .quote-box {
      width: 90%;
      margin: 2rem auto;
      text-align: center;
      padding: 10px;
    }
  
    .quote-box .quote p {
      font-size: 18px;
    }
  
    .main-topic {
      font-size: 40px;
    }

    .home-sub-topic{
        margin-left: 0px;
        margin-bottom: 0px;
    }
  
    .grid-box {
      flex-direction: column;
      align-items: center;
    }
  
    .grid-box .s_box {
      width: 80%;
      margin: 10px 0;
      display: flex; /* Add display flex to the container */
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center items horizontally */
      justify-content: center; /* Center items vertically */
    }
  
    .grid-box .s_box img {
      width: 20%;
      margin: 1rem auto;
    }

    .h-topic{
        padding-right: 30px;
    }
  
    .Aboutus_txt {
      margin: 0 auto;
      flex-direction: column;
      width: 90%;
      align-items: center;
    }

  
    .About h2 {
      font-size: 28px;
    }
  
  
    .Aboutus_txt .text {
      margin: 0;
      font-size: 14px;
      width: 100%;
    }
  
    .Aboutus_txt .image_about {
      
      margin-bottom: 2rem;
      margin-right: 0;
    }
  
    .countup {
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
    }

    .card01, .card02, .card03{
        margin-left: 0;
        width: 80%;
        margin-bottom: 2rem;
    }
  
    .countup h4 {
      font-size: 24px;
    }

    .sec-style{
        margin-top: 0;
    }
  
    .contact {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
    }
  
    .linklocation img,
    .linkphone img,
    .linkmail img {
      width: 30px;
      height: auto;
    }
  
    .linkphone {
      padding: 10px 0;
    }
  
    .phone_no {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .topic {
      margin-right: 0;
    }
  
    .logo {
      width: 50px;
      height: 50px;
      margin: 0;
    }
  
    /* .links .left {
      flex-direction: row;
      align-items: center;
      gap: 5px;
      font-size: small;
    } */
  
    .links a {
      /* margin: 5px; */
        display: none;
    }
  
    .fixed-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      margin-right: 0;
    }
  
    .login-btn {
      padding: 6px 15px;
      font-size: 14px;
    }
  }
  