
.home{
    background-color: #F9FFFE;
    margin-top: 40px;
}

.slider img {
    width: 100%;
}

.container img {
    margin-bottom: -22.5%;
    margin-left: calc(-50%);
    border-radius: 50%;
    height: 5%;
    width: 5%;
    object-fit: cover;

}

.quote-box {
    width: 20%;
    height: 40%;
    background-color: none;
    padding-bottom: 80px;
    padding-top: 4m0px;
    margin-left: 10%;
    margin-top: 40px;
    /* border-radius: 10px; */

}

.quote-box .quote p {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    color: #05445E;
}

.grid {
    display: flex;

}

.grid .box {
    width: 280px;
    height: 320px;
    flex-shrink: 0;
    background-color: #F9FFFE;
    color:#05445E;
    border-radius: 20px;
    margin-left: 130px;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 0 50px #457f75(0, 0, 0, 0.5); */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

.grid.box :hover {
    transform: scale(1.1);
}

.grid .box img {
    margin-top: 10%;
}

.grid .box h4 {
    font-size: 25px;
}

.grid .box p {
    font-size: 13px;
}

.grid .box .topic{
    font-size:24px;
}


.Aboutus {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 40px;
    margin-right: 10px;
}

.About h2 {
    color:#05445E;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5%;
}

.Aboutus .text {
    float: left;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 5%;
    font-size: 15px;
    color:  #05445E;
}

.Aboutus .image {
    max-width: 100%;
    max-height: 100%;
    float: right;
    margin-right: 15%;
    margin-bottom: 6%;
}

.card01{
    margin-left: 10%;
}

.card02{
    margin-left: 10%;
}

.card03{
    margin-left: 10%;
}

.countup {
    position: relative;
    display: flex;
   
}

.countup h4 {
    font-size: 30px;
    color:  #05445E;
    filter: brightness(180%);
}

.gallery h2 {
    color:  #05445E;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 6%;

}

.contact {
    display: flex;
    flex-direction: row;
    padding-left: 500px;
    padding-bottom: 100px;
}

.linklocation{
    display: flex;
    flex-direction: row;
}

.linklocation img{
    width: 10%;
    height: 75%;
}

.linkphone{
    display: flex;
    flex-direction: row;
}


.linkphone img{
    width: 15%;
    height: 55%;
}

.linkmail img{
    width: 13%;
    height: 58%;
  
}

.linkmail{
    display: flex;
    flex-direction: row;
}

.linkphone {
    padding-right: 120px;
    padding-left: 120px;
}

.phone_no {
    display: flex;
    flex-direction: column;
}

.contact h6 {
    color: #05445E;
    padding-left: 10px;
}

.topic{
    margin-right: 20px;
}