* {
    font-family: poppins;
}

.logbox {
    /* Rectangle 91 */

    position: absolute;
    width: 450px;
    height: 560px;
    left: 243px;
    top: 150px;

    background: rgba(65, 103, 185, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

}

.logbtn {
    border-radius: 30px;
    background: #05445E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 415px;
    height: 68px;
    flex-shrink: 0;
    border: 0px;
    color: #F9FFFE;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 250px;
}

.line1 {
    position: absolute;
    top: 101px;
    left: 15px;
}

.line2 {
    position: absolute;
    top: 230px;
    left: 15px;
}

.logbtn:hover {
    /* background-color: ; */
    color: #2EB;
    cursor: pointer;
}

.input1 {
    position: relative;
    text-align: center;
    width: 400px;
    top: 87px;
    font-size: medium;
    border: 0px;
    background: none;

}

input:focus {
    outline: none;
    border-color: none;
    background: none;
}

.input2 {
    position: relative;
    text-align: center;
    width: 400px;
    top: 189px;
    font-size: medium;
    border: 0px;
    background: none;
}

.photo {
    margin-top: 60px;
    margin-left: 850px;
    width: 499px;
    height: 499px;
    flex-shrink: 0;
}

.signup {
    position: absolute;
    top: 420px;
    left: 50px;
}

.signup1 {
    position: absolute;
    top: 420px;
    left: 320px;
    color: rgba(65, 103, 185, 0.70);
}

.forgot {
    position: absolute;
    top: 470px;
    left: 50px;
}

.forgot1 {
    position: absolute;
    top: 470px;
    left: 200px;
    color: rgba(65, 103, 185, 0.70);
}