.navbar {
    width: 100%;
    height: 60px;
    background-color: #2EB;
    display: flex;
    flex-direction: row;
}

.navbar .left {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.navbar .left img {
    width: 10%;
    margin-left: 10px;
}

.navbar .right {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .right h4 {
    margin-right: 15%;
    margin-left: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
}

.link .right {
    flex: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
}

.link .right a {
    margin-left: 5%;

    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
}

.link .right a:hover {
    color: #4167b9;
}